<section class="section pt-5 pb-5 osahan-not-found-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5 pb-5">
                <img class="img-fluid mb-5" src="https://askbootstrap.com/preview/osahan-eat/img/thanks.png" alt="404">
                <h1 class="mt-2 mb-2 text-success">Pedido Concluido com Sucesso!</h1>
                <p class="mb-5">Você será Notificado assim que Mudar o Status do pedido</p>
                <a class="btn btn-primary btn-lg" href="orders.html#orders">Codigo do Pedido #<%= $pedido[0][:codigo_pedido] %></a>
            </div>
        </div>
    </div>
</section>