<main class="flex-shrink-0 main-container pb-0">
    <div class="container my-4">
        <p class="text-mute text-center mb-1">Valor Final</p>
        <h2 class="mb-0 text-center">R$</h2>
    </div>
    <div class="container mb-4">
        <div class="card border-0 shadow-light">
            <div class="card-body">
                <ul class="nav nav-tabs nav-fill justift-content-center mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="creditcard-tab" data-toggle="tab" href="#creditcard" role="tab" aria-controls="creditcard" aria-selected="true">Entrega</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="false">Forma de Pagamento</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active was-validated " id="creditcard" role="tabpanel" aria-labelledby="creditcard-tab">
                        <h6 class="subtitle">Endereço</h6>
                        <div class="form-group ">
                            <label class="text-mute small">CEP</label>
                            <input type="text" class="form-control" required="" >
                        </div>
                        <div class="form-group ">
                            <label class="text-mute small">Rua</label>
                            <input type="text" class="form-control" >
                        </div>
                        
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group ">
                                    <label class="text-mute small">Nº</label>
                                    <input type="text" class="form-control is-invalid">                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group ">
                                    <label class="text-mute small">Complemento</label>
                                    <input type="text" class="form-control is-invalid">                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                        <label class="text-mute small">Cidade</label>
                        <input type="text" class="form-control" >
                    </div>
                        <div class="form-group " style="text-align: center;">
                            <input type="checkbox" class="custom-control-input" id="recebeLocal">
                            <label class="custom-control-label" for="recebeLocal">Retirar no Local</label>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                        <div class="form-group">
                            <label class="text-mute small">Selecione a Forma de Pagamento</label>                           
                        </div>

                            <div class="container-fluid px-0">
                                <ul class="list-group list-group-flush mb-4">
                                    <% @pagamentos.each do |pagamento| %>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col">
                                                    <h6 class="text-dark mb-1"><%= pagamento.nome%></h6>
                                                </div>
                                                <div class="col-2 pl-0 align-self-center text-right">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="<%=pagamento.id%>pagamento" checked>
                                                        <label class="custom-control-label" for="<%=pagamento.id%>pagamento"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>  
                                    <%end%>                             
                                </ul>
                            </div>
                        
                        <a href="#" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow"><span>Finalizar Pedido</span><i class="material-icons">arrow_forward</i></a>
                    </div>                    

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</main>