<%= form_with(url: '/menu/finaliza_pedido/salvar', method: :post, local: true) do |form|%>
    <section class="section bg-white osahan-track-order-page position-relative">
        <div class="row">
            <div class="col-sm-2"></div>
            
            <div class="col-sm-8" style="margin-top: 100px;">           
                <div class="bg-white p-4 shadow-lg mt-2 mb-2">
                    
                    <div class="row">
                        <label> Seu Perfil<label>
                    </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Digite seu número</label>
                                <input type="text" name="numero" class="form-control"/>
                            </div>
                            <div class="col-sm-6">
                                <label>Digite seu email</label>
                                <input type="text" name="email" class="form-control"/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">                    
                                <button type="submit" class="btn btn-block btn-success">Salvar</button>
                            </div>                
                        </div>
                    
                </div>
            </div>
            
            <div class="col-sm-2"></div>
        </div>
    </section>
<%end%>