<%=form_with(url: admin_delivery_index_path, model: @delivery, method: :post, local: true) do |form|%>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Cadastro de Taxas de Entrega</h4>   
    
                    <div class="row">
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="formrow-email-input">Bairro</label>                            
                                <%=form.text_field :bairro_nome, class: 'form-control'%>
                            </div>
                        </div>                        
                        <div class="col-md-3">
                            <label for="input-currency-valor">Valor</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="option-date">R$</span>
                                </div>
                                <input type="text" name="delivery_price[valor]" id="input-currency-valor" class="form-control money" placeholder="00,00">
                            </div>
                        </div>                      
                    </div>            
            </div>
        </div>            
        <div class="card">
            <div class="card-body">
                <div>
                    <button type="submit" class="btn btn-primary btn-block w-md">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <%end%>