
<!doctype html>
<html lang="pt-BR">

    
<head>
        
        <meta charset="utf-8" />
        <title>Renova Food - Autenticação</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Renova Food - Sistema de Delivery" name="description" />
        <meta content="Bruno Neville" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/logo.png">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'admin_devise'%>        
        <link href="/template/admin/temp/assets/css/icons.min.css" rel="stylesheet" type="text/css" />    

    </head>

    <body>        
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                   
                        
                        <%=yield%>

                   
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="/template/admin/temp/assets/libs/jquery/jquery.min.js"></script>
        <script src="/template/admin/temp/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/template/admin/temp/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/template/admin/temp/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/template/admin/temp/assets/libs/node-waves/waves.min.js"></script>
        
        <!-- App js -->
        <script src="/template/admin/temp/assets/js/app.js"></script>
    </body>

<!-- Mirrored from themesbrand.com/skote/layouts/horizontal/auth-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jun 2020 22:49:25 GMT -->
</html>

